
body{
	margin: 0;
	background: #E3C9B3;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 12px;
}
ul,li{
	list-style: none;
	-webkit-padding-start: 0;
	-webkit-margin: 0;
	margin: 0;
}
.BTN{
	display: inline-block;
	height: 2em;
	color: white;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	margin-bottom: 0.5em;
	cursor: pointer;
	padding-top: 0.5em;
	width: 80%;
}
#Container{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}
#Return{
	background: #F15A24;
	border: solid 1px #C1272D;
	position: relative;
	top: 85%;
}
#setArena{
	background: #29ABE2;
	border: solid 1px #0071BC;
	position: relative;
	top: 85%;
}
#challengy{
	background: #98D644;
	border: solid 1px #009144;
	position: relative;
	top: 90%;
}
.small{
	font-size: 0.1em;
}
.arenaTitle{
	height: 100px;
	width: 100%;
	position: absolute;
	margin-top: 8%;
}
.header{
	width: 100%;
	margin-bottom:5px;
}
.memberHolder{
	width: 100%;
	overflow: scroll;
	
}
.arenaContainer{
	display: inline-block;
	width: 80%;
	height:73%;
	background: #CCF0ED;
	border-radius: 25px;
	border: solid 2px #95B091;
	margin-top: 15%;
}
.headerTop{
	width: 100%;
	text-align: center;
	padding-top: 3em;
}
.portraitBig{
	display: inline-block;
	height: 90px;
	width: 90px;
	background-position: center;
	background-size: contain;
	border: rgba(53, 180, 218, 0.48) 1px solid;
    margin-bottom: 5px;
}
.portraitSmall{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-position: center;
	background-size: contain;
	vertical-align: middle;
}
.headerInfo{
	width: 100%;
}

tbody td{
	color: #EA5228;
	font-weight: bold;
	font-size:12px;
}
tbody td span{
	color: #22B573;
	font-weight: normal;
}
.bigLine{
	display: inline-block;
	width: 100%;
	height: 3px;
	background: #EA5228;
	margin-bottom: 5px;
}
.smallLine{
	display: inline-block;
	width: 80%;
	height: 1px;
	background: #EA5228;
	margin-bottom: 5px;
}
.member{
	width: 100%;
}
.member span,.member ul{
	margin-left: 2%;
}
.star{
	display: inline-block;
}
.star li{
	display: inline-block;
}
.starFull{
	height: 15px;
	width: 15px;
	background: url(../img/keySmall.png) no-repeat;
	display: inline-block;
}
.starEmpty{
	height: 15px;
	width: 15px;
	background: url(../img/keySmall.png) no-repeat;
	background-position: 0px -15px;
	display: inline-block;
}
.badgeWin{
	height: 30px;
	width: 20px;
	background: url(../img/badge.png) no-repeat;
	background-position: 0px 0px;
	display: inline-block;
	position: relative;
	right: 20px;
}
.badgeLose{
	height: 30px;
	width: 20px;
	background: url(../img/badge.png) no-repeat;
	background-position: 0px -60px;
	display: inline-block;
	position: relative;
	right: 20px;
}
.badgeDogfall{
	height: 30px;
	width: 20px;
	background: url(../img/badge.png) no-repeat;
	background-position: 0px -30px;
	display: inline-block;
	position: relative;
	right: 20px;
}
.portraitHolder{
	margin: -10px;
}
.memberName{
	display: inline-block;
    color: #22B573;
    width: 4em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    top: 3px;
}
#hostName{
	display: inline-block;
    color: #22B573;
    width: 4em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    top: 2px;
}
.memberHonor{
	color: #EA5228;
}
.memberScore{
	font-weight: bold;
	color: #16B9F2;
	width: 35px;
	display: inline-block;
}
#guide{
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.86);;
	background-image:url(../img/guide.png);
	z-index:100;
	background-position: center top;
  	background-size: contain;
  	background-repeat:no-repeat;
  	display:none;
}
@media screen and (max-height: 500px){
	.arenaContainer {
	  display: inline-block;
	  width: 80%;
	  height: 73%;
	  background: #CCF0ED;
	  border-radius: 25px;
	  border: solid 2px #95B091;
	  margin-top: 10%;
	}
	.arenaTitle {
	  height: 100px;
	  width: 100%;
	  position: absolute;
	  margin-top: 4%;
	}
	#setArena {
	  background: #29ABE2;
	  border: solid 1px #0071BC;
	  position: relative;
	  top: 83%;
	}
	#Return {
	  background: #F15A24;
	  border: solid 1px #C1272D;
	  position: relative;
	  top: 82%;
	}
}
@media screen and (min-height: 700px){
	#Return {
	  background: #F15A24;
	  border: solid 1px #C1272D;
	  position: relative;
	  top: 88%;
	}
	.BTN {
	  display: inline-block;
	  height: 2em;
	  color: white;
	  font-size: 14px;
	  font-weight: bold;
	  border-radius: 5px;
	  margin-bottom: -0.5em;
	  cursor: pointer;
	  padding-top: 0.5em;
	  width: 80%;
	}
}


