<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:task="http://www.springframework.org/schema/task"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <!-- <context:property-override location="classpath:bean.overrides"/> -->

  <bean id="weChatClient" class="util.WeChatClient">
    <property name="appId" value="wxc52fb7ade4338f53" />
    <property name="appSecret" value="643a37af2e6a55cd48bf6531038499d1" />
    <property name="token" value="letorn" />
  </bean>

  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
    <property name="driverClass" value="net.sf.log4jdbc.DriverSpy" />
    <property name="jdbcUrl" value="jdbc:log4jdbc:mysql://rdspud79f4bkmxdk2lel2.mysql.rds.aliyuncs.com:3306/ru49e128zb2r2f37?useUnicode=true&amp;characterEncoding=utf8" />
    <property name="user" value="ru49e128zb2r2f37" />
    <property name="password" value="123456" />
    <property name="maxPoolSize" value="20" />
    <property name="minPoolSize" value="2" />
    <property name="initialPoolSize" value="3" />
    <property name="acquireIncrement" value="3" />
    <property name="maxIdleTime" value="60" />
    <property name="idleConnectionTestPeriod" value="60" />
  </bean>

  <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">    
    <property name="caches">
      <set>
        <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean" />
      </set>
    </property>
  </bean>

  <task:annotation-driven />

  <bean class="dao.data.Stack" init-method="init" />

  <mvc:annotation-driven conversion-service="conversionService">
    <mvc:message-converters>
      <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="objectMapper">
          <bean class="com.fasterxml.jackson.databind.ObjectMapper">
            <property name="dateFormat">
              <bean class="java.text.SimpleDateFormat">
                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
              </bean>
            </property>
          </bean>
        </property>
      </bean>
    </mvc:message-converters>
  </mvc:annotation-driven>
  
  <mvc:interceptors>
    <bean class="init.WebInterceptor" />
  </mvc:interceptors>
  
  <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
    <property name="registerDefaultFormatters" value="false" />
    <property name="formatters">
      <set>
        <bean class="org.springframework.format.number.NumberFormatAnnotationFormatterFactory" />
      </set>
    </property>
    <property name="formatterRegistrars">
      <set>
        <bean class="org.springframework.format.datetime.DateFormatterRegistrar">
          <property name="formatter">
            <bean class="org.springframework.format.datetime.DateFormatter">
              <property name="pattern" value="yyyy-MM-dd'T'HH:mm:ss" />
            </bean>
          </property>
        </bean>
      </set>
    </property>
  </bean>
  
  <context:component-scan base-package="init" />
  <context:component-scan base-package="dao" />
  <context:component-scan base-package="service" />
  <context:component-scan base-package="wchandler" />
  <context:component-scan base-package="controller" />

</beans>